<header>
  <nav>
    <a [routerLink]="['/user']">User | </a>
    <a [routerLink]="['/vehicle']">Vehicle | </a>
    <a [routerLink]="['/address']">Address | </a>
    <a [routerLink]="['/booking']">Booking | </a>
    <br>
    <a [routerLink]="['/add-vehicleModel']">Add VehicleModel | </a>
    <a [routerLink]="['/add-brand']">Add Brand | </a>
    <a [routerLink]="['/add-address']">Add Address | </a>
    <a [routerLink]="['/add-booking']">Add Booking | </a>
    <a [routerLink]="['/login']">Login </a>
  </nav>

</header>

<main>

  <router-outlet />
</main>