<form [formGroup]="BookingForm" (ngSubmit)="submit()">
    <div>
        <div class="m-2 d-flex justify-content-evenly">
            <label for="startTime" class="m-1 w-50">Date/heure de départ :
            </label>
            <input id="startTime" class="m-1 w-50" type="text" formControlName="startTime" />
        </div>
        <div class="m-2 d-flex justify-content-evenly">
            <label for="endTime" class="m-1 w-50">Date/heure d'arrivée :
            </label>
            <input id="endTime" class="m-1 w-50" type="text" formControlName="endTime" />
        </div>
        <div class="m-2 d-flex justify-content-evenly">
            <label for="driver" class="m-1 w-50">Id du conducteur : </label>
            <input id="driver" class="m-1 w-50" type="number" formControlName="driver" />
        </div>
        <div class="m-2 d-flex justify-content-evenly">
            <label for="serviceVehicle" class="m-1 w-50">Id du vehicule de service : </label>
            <input id="serviceVehicle" class="m-1 w-50" type="number" formControlName="serviceVehicle" />
        </div>
    </div>
    <div class="m-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-info custom-disabled" [disabled]="!BookingForm.valid">Submit</button>
    </div>
</form>