<form [formGroup]="BookingForm" (ngSubmit)="submit()">
    <div>
        <label for="startTime">Date/heure de départ :
        </label>
        <input id="startTime" type="text" formControlName="startTime" />
        <label for="endTime">Date/heure de départ :
        </label>
        <input id="endTime" type="text" formControlName="endTime" />
        <label for="startTime">Date/heure de départ :
        </label>
        <input id="startTime" type="text" formControlName="startTime" />
        <label for="driver">Id du conducteur</label>
        <input id="driver" type="number" formControlName="driver" />
        <label for="serviceVehicle">Id du vehicule de service</label>
        <input id="serviceVehicle" type="number" formControlName="serviceVehicle" />
    </div>
    <div>
        <button type="submit" [disabled]="!BookingForm.valid">Submit</button>
    </div>
</form>